<md-dialog layout="column" flex="50"  aria-label="Add Switch Form">
	<form name="addNetworkSwitchForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 class="white-text">Add Network Switch</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content layout="column" flex layout-padding>
			<div layout="row">
				<md-input-container flex>
					<label>Name</label>
					<input type="text" ng-model="networkSwitch.name" name="Name" required>
					<div ng-messages="addNetworkSwitchForm.Name.$error" ng-if="addNetworkSwitchForm.Name.$touched">
						<div ng-messages-include="/app/views/templates/validation-message.html"></div>
					</div>
				</md-input-container>
				<!-- Ports -->
				<md-input-container flex>
					<label>Ports</label>
					<input type="number" name="Ports" ng-model="networkSwitch.ports" min="0" required>
					<div ng-messages="addNetworkSwitchForm.Ports.$error" ng-if="addNetworkSwitchForm.Ports.$touched">
						<div ng-messages-include="/app/views/templates/validation-message.html"></div>
					</div>
				</md-input-container>
			</div>
			<!-- Description -->
			<div layout="row">			
				<md-input-container flex>
					<label>Description</label>
					<input type="text" ng-model="networkSwitch.description" name="Description">
					<div ng-messages="addNetworkSwitchForm.Description.$error" ng-if="addNetworkSwitchForm.Description.$touched">
						<div ng-messages-include="/app/views/templates/validation-message.html"></div>
					</div>
				</md-input-container>			
			</div>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-accent" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>	